.about-container {
    display: grid;
    gap: 4rem;
    margin: 2rem;
}

.section-container {
    display: grid;
    gap: 2rem;
    background-color: var(--background-color-main);
    color: var(--text-color-light);
    padding: 2rem 1rem;
    border-radius: 1rem;
}

.title-container {
    text-align: center;
    font-size: 2rem;
    font-family: "Pacifico";
    background-color: var(--background-color-secondary);
    color: var(--text-color-dark);
    padding: 1rem;
    border-radius: 1rem;
}

.subtitle-container {
    text-align: center;
    font-size: 1.5rem;
    font-family: "Playfair Display", 'Times New Roman', Times, serif;
    font-weight: bold;
}

.content-container {
    justify-self: center;
    max-width: 60ch;
    font-size: 1.3rem;
}