@font-face {
    font-family: "Playfair Display";
    src:
        url("./fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
        url("./fonts/PlayfairDisplay-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Playfair Display";
    src:
        url("./fonts/PlayfairDisplay-Italic.woff2") format("woff2"),
        url("./fonts/PlayfairDisplay-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.title {
    font-size: 3rem;
    font-family: "Playfair Display", 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    margin: 1rem 2rem;
}